@model NovoProjeto.Models.Chamado

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes do chamado";
}


<div class="panel panel-primary">
    <div class="panel-heading">Visualizando detalhes do chamado</div>
    <div class="panel-body">

        <div class="form-group">
            @Html.LabelFor(model => model.NomeChamado)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-glyphicon-chevron-up"></i>
                </span>
                @Html.EditorFor(model => model.NomeChamado, new { htmlAttributes = new {@class = "form-control", disabled = "disabled" }})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DataChamado)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-glyphicon-folder-open"></i>
                </span>
                @Html.EditorFor(model => model.DataChamado, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StatusChamado)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon-glyphicon-folder-open"></i>
                </span>
                @Html.EditorFor(model => model.StatusChamado, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ChamadoId}, new { @class = "btn btn-info"})
        @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-info" })
    </div>
</div>