@model NovoProjeto.Models.Chamado

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Chamado</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeChamado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomeChamado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataChamado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataChamado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StatusChamado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StatusChamado)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ChamadoId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
