@model NovoProjeto.Models.Funcionario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Remover Chamado";
}

<div class="panel panel-primary">
    <div class="panel-heading">Visualizando detalhes do chamado</div>
    <div class="panel-body">

        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="input-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CPF)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RG)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.RG, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.Telefone,  new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Setor)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.Setor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status)
                <br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon-glyphicon-chevron-up"></i>
                    </span>
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>


            <div class="panel-footer panel-info">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Remover" class="btn btn-danger" />
                    @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-info" })}
            </div>
        </div>
    </div>
